

body {
  background-color: #690b2c;
  color: #f0f0f0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  text-shadow: 2px 2px 0 rgb(244, 93, 201);
}
img {
  width: 200px;
  height: auto;
}
h1 {
  color: #f0f0f0;
  text-align: center;
  font-size: 2.5em;
}
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: auto;
  z-index: 10;
}
a {
  color: #add8e6;
}
a:hover {
  color: #87ceeb;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.gallery img {
  width: 150px;
  height: auto;
}